--swiftversion 5
--exclude Pods,**/Generated
--disable duplicateImports,blankLinesAroundMark,redundantType,redundantReturn,wrapMultilineStatementBraces,redundantSelf,trailingClosures,blankLinesAtStartOfScope,unusedArguments,hoistPatternLet,trailingSpace,trailingCommas